{% extends 'AppBundle:template:template.html.twig' %}

{% block main_container %}

    <ol class="breadcrumb"><li>Today Feeds ( {{ 'now'|date('Y-m-d')}} )</li></ol>

    <div class="container">

        <div class="row">
            <div class="col-md-12 ">

                {% include 'AppBundle:includes:flash_messages.html.twig' %}

                <div class="alert alert-danger">{% trans %}An error has ocurred. Try again in a few minutes{% endtrans %}</div>

            </div>
        </div>

    </div>


{% endblock %}
