{% extends 'AppBundle:template:template.html.twig' %}

{% block main_container %}

  <ol class="breadcrumb"><li>Feeds</li></ol>

  <div class="container">

    <div class="row">
      <div class="col-md-12 ">

        {% include 'AppBundle:includes:flash_messages.html.twig' %}

        {% if feeds is iterable %}

          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>{% trans %}ID{% endtrans %}</th>
                  <th>{% trans %}Title{% endtrans %}</th>
                  <th>{% trans %}Publisher{% endtrans %}</th>
                  <th>{% trans %}Date{% endtrans %}</th>
                  <th class="text-center">{% trans %}Actions{% endtrans %}</th>
                </tr>
              </thead>
              {% for feed in feeds %}

                <tr>
                  <td>{{ feed.id }}</td>
                  <td>{{ feed.title }}</td>
                  <td>{{ feed.publisher }}</td>
                  <td>{{ feed.date|date("Y/m/d") }}</td>
                  <td class="text-center"> {% include '@App/feeds/includes/feed_actions.html.twig' with { 'feed' : feed } %} </td>
                </tr>
                
              {% endfor %}

            </table>
          </div>
        {% else %}
          <div class="alert alert-warning">{% trans %}There is no feed to list{% endtrans %}</div>
        {% endif %}

      </div>
    </div>

  </div>


{% endblock %}
