{% extends 'AppBundle:template:template.html.twig' %}

{% block main_container %}

  <ol class="breadcrumb"><li>Admin</li><li>New Feed</li></ol>

  <div class="container">

    <div class="row">
      <div class="col-md-12 ">

        <h3>New Feed</h3>
        <hr />
        {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}

      </div>
    </div>

  </div>


{% endblock %}
