{% extends 'AppBundle:template:template.html.twig' %}

{% block main_container %}

  <ol class="breadcrumb"><li>Show Feed</li></ol>

  <div class="container">

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-12 show_feed_container">
        <h4>Feed</h4>
        <hr />
        <div class="row show_feed_container_item_row">
          <div class="col-lg-4">
            {% trans %}ID{% endtrans %}
          </div>
          <div class="col-lg-8">
            {{ feed.id }}
          </div>
        </div>
        <hr />
        <div class="row show_feed_container_item_row">
          <div class="col-lg-4">
            {% trans %}Publisher{% endtrans %}
          </div>
          <div class="col-lg-8">
            {{ feed.publisher }}
          </div>
        </div>
        <hr />
        <div class="row show_feed_container_item_row">
          <div class="col-lg-4">
            {% trans %}Source URL{% endtrans %}
          </div>
          <div class="col-lg-8">
            <a href="{{ feed.source }}" target="_blank">Source</a>
          </div>
        </div>
        <hr />
        <div class="row show_feed_container_item_row">
          <div class="col-lg-4">
            {% trans %}Title{% endtrans %}
          </div>
          <div class="col-lg-8">
            {{ feed.title }}
          </div>
        </div>
        <hr />
        <div class="row show_feed_container_item_row">
          <div class="col-lg-4">
            {% trans %}Body{% endtrans %}
          </div>
          <div class="col-lg-8">
            {{ feed.body }}
          </div>
        </div>
        <hr />
        <div class="row show_feed_container_item_row">
          <div class="col-lg-4">
            {% trans %}Image{% endtrans %}
          </div>
          <div class="col-lg-8">

            {% if feed.imageFile is not null %}
              <img src="{{ path('load_feed_image', { 'id' : feed.id }) }}" class="img-responsive" alt="Image" />
            {% else %}
              {% trans %}No image registered{% endtrans %}
            {%  endif %}

          </div>
        </div>
        <hr />
        <div class="row show_feed_container_item_row">
          <div class="col-lg-4">
            {% trans %}News date{% endtrans %}
          </div>
          <div class="col-lg-8">
            {{ feed.date|date("Y/m/d") }}
          </div>
        </div>
        <hr />
        <div class="row show_feed_container_item_row">
          <div class="col-lg-4">
            {% trans %}Created at{% endtrans %}
          </div>
          <div class="col-lg-8">
            {{ feed.createdDatetime|date("Y/m/d H:i") }}
          </div>
        </div>
        <hr />
        <div class="row show_feed_container_item_row">
          <div class="col-lg-4">
            {% trans %}Last update{% endtrans %}
          </div>
          <div class="col-lg-8">
            {{ feed.updatedDatetime|date("Y/m/d H:i") }}
          </div>
        </div>

      </div>
    </div>

  </div>


{% endblock %}

