{% extends 'AppBundle:template:template.html.twig' %}

{% block main_container %}

  <ol class="breadcrumb"><li>Today Feeds ( {{ 'now'|date('Y-m-d')}} )</li></ol>

  <div class="container">

    <div class="row">
      <div class="col-md-12 ">

        {% include 'AppBundle:includes:flash_messages.html.twig' %}

        {% if feeds is iterable %}
          <div class="row">

          {% for feed in feeds %}

            <div class="col-sm-12 col-md-6">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">{{ feed.publisher }} <a class="btn btn-xs btn-default" href="{{ path('feed_show',{ 'id' : feed.id }) }}">{{ "Full view"|trans }}</a> </h3>
                </div>
                <div class="panel-body">

                  <p><strong>{{ feed.title }}</strong></p>

                  {% if feed.imageFile is not null %}
                    <img src="{{ path('load_feed_image', { 'id' : feed.id }) }}" class="img-responsive" alt="Image" />
                  {% else %}
                    {% trans %}No image registered{% endtrans %}
                  {%  endif %}

                  <p>{{ feed.body }}</p>

                </div>
              </div>
            </div>

          {% endfor %}

          </div>
        {% endif %}

      </div>
    </div>

  </div>


{% endblock %}
