<script id="handlebars_modal_feed_delete" type="text/x-handlebars-template">
  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalDeleteFeed" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h4>This action needs to be confirmed</h4>
        </div>

        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12">
                <p>You are going to delete the selected feed ( ID : {{ id }} ).</p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-lg-12">
              <form action="{{ url }}" method="post">
                <input type="hidden" name="id" value="{{ id }}"/>
                <input type="submit" class="btn btn-danger" value="Delete feed" />
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</script>
