<a class="btn btn-sm btn-default" href="{{ path('feed_show',{ 'id' : feed.id }) }}">Show</a>
<a class="btn btn-sm btn-default" href="{{ path('feed_update',{ 'id' : feed.id }) }}">Update</a>
<button class="btn btn-sm btn-danger trigger-delete-feed" data-url-delete="{{ path('feed_delete') }}" data-id="{{ feed.id }}" >Delete</button>
