<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-muted"><strong>&copy; Javier Rodriguez Altamirano</strong></div>
    </div>
  </div>
</footer>
