<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="News agregator">
  <meta name="author" content="Javier Rodriguez Altamirano">

  <title>Runator Test - Newslator</title>

  {% include '@App/template/includes/css.html.twig' %}

</head>
